@import url("styles/header.css");
@import url("styles/presentation.css");
@import url("styles/nav_bar.css");
@import url("styles/footer.css");
@import url("styles/reservation_bar.css");

:root {
    --main-background: #D3D5D8;
    --addresstext-color:#FFFFFF;
    --text-shadow: #DC4400;
    --title-font-family: 'Bilbo Swash Caps', cursive;
    --address-background: rgb(0 0 0 / 0.45);
    --text-font-family: 'Caveat', cursive;
    --text-color: #DC4400;
    --nav-bar-background: #ffece3;
}
/* Each section of the page is here */
/* The componentes of the sections, have their on file */
body {
    font-family: 'Caveat', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Share Tech', sans-serif;
    background-color: var(--main-background);
    height: 200vh;
    display: block;
    width: 100vw;
    overflow-x: hidden;
    
}
header {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.nav_bar {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    position:relative;
    

}

main {
    /* This margin top have the same height of nav_bar */
    /* To not hide it*/
    width: 100vw;
    position:relative;
    background-color: var(--nav-bar-background);
}

footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    background-color: #ca6f45;
}

.reservation {
    position: fixed;
    bottom: 0;
}


