.reservation_section {
    width: 100vw;
    height: 50vh;
    background-color: aliceblue;
}

.reservation_selection_header {
    font-family: var(--text-font-family);
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: rgb(166, 179, 191);
    margin: 5vh 0;
}

.title_reservation_page {
    padding: 2vh 0;
}

.reservation_selection_form_text {
    margin: 10vh 0;
}

.reservation_selection_form_text, .reservation_selection_form_number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.acomodation_room_input_form {
    width: 22vw;
    margin: 0 2vw;
}