.rooms_selected {
    display: flex;
    align-items: center;
    width: 98vw;
    height: 40vh;
    padding: 0 2vw;
    background-color: var(--main-background);
    border: solid 5px var(--background-about-us);
    font-family: var(--text-font-family);
}

.rooms_selected_title {
    margin: 1vh 0;
    text-align: center;
    background-color: var(--background-footer);
}


.rooms_selected_date {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1%; 
}

.reservation_model {
    text-align: center;
    height: 37vh;
    width: 30vw;
    border: solid 3px var(--background-footer);
    background-color: var(--nav-bar-background);
}

.reservation_model_select {
    margin: 1em;
}

.room_title_select {
    font-family: var(--text-font-family);
}
.reservation_model_room_info {
    display: flex;
    justify-content: center;
    background-color: var(--background-footer);
} 
.img_reservation_model {
    margin: 0 0.5vw;
    height: 18vh;
}

.adults_title_reservation_model {
    display: flex;
    justify-content: space-around;
}

.guest_title_reservation_model {
    margin: 0 1vw;
}

.guest_reservation_model {
    padding: 2vh 0vw;
}

.reservation_model_room_price {
    text-align: center;
    
}

.reservation_model_room_price_text {
    margin: 1vw 0;
}